<% title "Quote" %>

<p>
  <strong>Symbol:</strong>
  <%=h @quote.symbol %>
</p>
<p>
  <strong>Exchange:</strong>
  <%=h @quote.exchange %>
</p>
<p>
  <strong>Market Time:</strong>
  <%=h @quote.market_time %>
</p>
<p>
  <strong>Last Price:</strong>
  <%=h @quote.last_price %>
</p>

<p>
  <%= link_to "Edit", edit_quote_path(@quote) %> |
  <%= link_to "Destroy", @quote, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", quotes_path %>
</p>
