<!-- Slogan Start -->
        <div id="slogan">
            <span class="slogan-large">W</span>elcome to <span class="green">The Stock Factor</span> where you can see which newsletters get in before the spike.
        </div>

        <!-- Slider Start -->
        <div id="slides">
            <div class="slides_container">
            	<div>
                  <iframe src="/entries/chart/0" width="920px" height="300px"  scrolling="no"> </iframe>
                </div>
                <div>
                  <iframe src="/entries/chart/1" width="920px" height="300px"  scrolling="no"> </iframe>
                </div>
              <div>
                  <iframe src="/entries/chart/2" width="920px" height="300px"  scrolling="no"> </iframe>
                </div>
            </div>
            <a href="#" class="prev"><img src="images/arrow-prev.png" width="24" height="322" alt="Arrow Prev"></a>
            <a href="#" class="next"><img src="images/arrow-next.png" width="24" height="322" alt="Arrow Next"></a>
        </div>
        <!-- Slider End -->

        <div class="thirty-margin-filler"></div>
        <div class="horizontal-rule"></div>

        <!-- Featured Work Start -->
        <div id="featured-wrapper">
            <h1>How It Works</h1>
            <p class="medium-text">Which newsletters get in before which the spike? Which ones are always too late? Each newsletter has a stock factor: <span class="green">how often they are right about stocks</span>. Click on a symbol to see when newsletters first sent out messages and which are too late.</p>
             </div>
            <p><h1 style="margin-top:15px;">Top Four</h1></p>

            <% i = 0
               @symbols[0..2].each do |entry| %>
                <%= i+=1
                    render :partial => 'featured_symbol',:object => entry ,:locals => {:class_name=>'one-fourth',:index=>i}
                %>
            <% end %>
            <%= render :partial => 'featured_symbol',:object => @symbols[3] ,:locals => {:class_name=>'one-fourth-last',:index=>4}%>

                    <!-- Featured Work End -->


            <div class="horizontal-rule"></div>
            <div class="one-half"><% form_for @subscriber do |f| %>

                <p class="medium-text">
                  <span class="large-text green strong">Subscribe</span><br/>
                    Want to be alerted when the stock with the highest factor changes? Enter your email below and we will send you an email each time the top ones change. (Oh yeah, and we promise not to spam you or sell your email address.)
                </p>
                  <p style="padding-top:6px;"><span class="emphed" >Email Address: </span><br />
                  <span class="subscriber-input">
                  <%= f.text_field :address, :id=>"tb",:style=>'height: 28px;width: 370px;font-size: 22px;' %>

                  <%= f.submit "Subscribe",{:class=>'small button',:style=>'float: none;'} %>
                </span></p>
            <% end %></div>
            <div class="one-half-last">
              <p class="larger-text"><span class="large-text green strong">More Symbols</span><br/>
                See the top 40 symbols and who is pumping them.
              </p>
              <%= link_to 'View',{:action=>:more_symbols},{:class=>'large button'} %>
            </div>

        <div class="horizontal-rule"></div>
<div class="one-half">
  <p class="larger-text green"><%= link_to 'Recent Entries',:action => 'more_symbols'%></p>

  <% for entry in @recent_entries[0..15] %>

      <p><%= "#{entry.source.name} (#{entry.source.weight.to_i})" %>
        -> <%= link_to entry.symbol, :action=>"symbol", :id=>entry.symbol %><span class="small-text grey">
        (<%= format_datetime(entry.sent_at) %>)</span> </p>

  <% end %>
</div>


<div class="one-half-last">
  <p class="larger-text green"><%= link_to 'Twitter','http://twitter.com/thestockfactor' %></p>
  <div id="twitter"></div>
</div>
