<div>
  <div><h1 style="text-align:center;">What is the "stock factor"?</h1>

    Which newsletters get in before which the spike? Which ones are always too late? Each newsletter has a stock
    factor: how often they are right about stocks. Click on a symbol to see when newsletters first sent out messages
    which are too late.     <%= link_to "See the list of sources", :controller=>"sources" %>

    <br/>
    <br/>
    <hr>
    <br/>
    Want to be alerted when the stock with the highest factor changes?  Enter your email below and we will send you
    an email each time the top ones change. (Oh yeah, and we promise not to spam you or sell your email address.)
    <div style="text-align:center"><% form_for @subscriber do |f| %>
          <%= render :partial => "base/flash",:object => flash %>

      <p>
        <label>Email Address: </label>
        <%= f.text_field :address,:id=>"tb" %>
    <script>
    var txtBox=document.getElementById("tb" );
    if (txtBox!=null ) txtBox.focus();
    </script>

      <%= f.submit "Subscribe" %></p>
    <% end %></div>

    <hr>


  </div>
  <table width="100%" style="margin: 0 auto;">
    <tr>
      <td class="center-column" valign="top"><h1 style="text-align:center;">Symbols in Play</h1>
        <table width="100%">
          <tr>
            <td></td>
            <td class="data-column">Total Factor</td>
            <td class="data-column">Number of mentions</td>
            <td class="data-column">Different Sources</td>
          </tr>
          <% count = 0 %>
          <% @symbols.each do |symbol| %>


              <tr class="front-list ">
                <td>
                  <span class="home-symbol home-symbol-<%= count %>"><%= link_to symbol[:symbol], :action=>"symbol", :id=>symbol[:symbol] %></span></td>
                <td class="data-column home-data-<%= count %>"><%= symbol[:factor] %></td>
                <td class="data-column home-data-<%= count %>"><%= symbol[:count] %></td>
                <td class="data-column home-data-<%= count %>"><%= symbol[:source_count] %></td>
              </tr>

              <% count+=1 %>
          <% end %>
        </table>
      </td>
      <td style="width:24px;"></td>
      <td class="center-column" valign="top">
        <h1 style="text-align:center;">Hot Right Now</h1>
        <% for entry in @recent_entries %>

            <p><%= "#{entry.source.name} (#{entry.source.weight.to_i})" %>
              -> <%= link_to entry.symbol, :action=>"symbol", :id=>entry.symbol %><span class="de-emph"> (<%= format_datetime(entry.sent_at) %>)</span> </p>

        <% end %>
      </td>
    </tr>
  </table>


</div>