<h1 style="display:inline;"><%= @symbol %></h1>

<a href="http://www.google.com/finance?q=<%= @symbol %>" target="_blank">on google finance</a>
<br />
<div id="placeholder" style="width:600px;height:300px;"></div>
<div>Mentions in newsletters</div>
<br />
<br /><table>
  <tr><td>Time Sent</td><td>Source</td><td>Impact Weight</td><td>View Message</td></tr>
<% for entry in @entries %>
    <tr>
    <td><%= format_datetime(entry.sent_at) %>  </td>
      <td><%= entry.source.name %></td>
      <td><%= entry.source.weight %></td>
      <td><%= link_to "view",entry.url %></td>
    </tr>
<% end %></table>

<script language="javascript" type="text/javascript">
$(function () {

    var stack = null, bars = true, lines = false, steps = false;

    function plotWithOptions() {
        var barWidth = 0.1;
        var priceBarWidth =  4;
        $.plot($("#placeholder"), [

            {

                data: <%= @prices_json %>,
                bars: { show: true, barWidth:priceBarWidth }  ,
                yaxis: 2  ,
            },
            {
                data: <%= @entries_json %>,
                bars: { show: true }  ,
            }
        ], {
            y2axis: {
                tickFormatter: function (v, axis) {
                    return "$" + v.toFixed(axis.tickDecimals)
                },
                min: <%= @min_price %>
            },
            xaxis: { mode: 'time' },
            colors: ["#3366FF","#FF6633"]
        }
        );


    }

    plotWithOptions();

//    $(".stackControls input").click(function (e) {
//        e.preventDefault();
//        stack = $(this).val() == "With stacking" ? true : null;
//        plotWithOptions();
//    });
//    $(".graphControls input").click(function (e) {
//        e.preventDefault();
//        bars = $(this).val().indexOf("Bars") != -1;
//        lines = $(this).val().indexOf("Lines") != -1;
//        steps = $(this).val().indexOf("steps") != -1;
//        plotWithOptions();
//    });
});</script>