<%= title @symbol %>

<h1 style="display:inline; margin-top: 15px; font-size:36px;" class="slogan-large green emphed"><%= @symbol %></h1>
<div style="height: 60px;">
  <span style="float:left" class="green"><a href="http://www.google.com/finance?q=<%= @symbol %>" target="_blank">on google finance</a></span>

<span class="search-times">


  <% [1,7,14,30].each do |time| %>
      <% if @search_time != time then %>
          <span class="time-link"><%= link_to "#{time.to_s} day" + (time > 1?"s":""),:search_time=>time %></span>
       <% else %>
          <span class="selected-time"><%= "#{time.to_s} days" %></span>
      <% end %>

<% end %></span></div>
<br />
<div id="placeholder" style="width:900px;height:300px;"></div>
<br />
<br />

<div class="medium-text">Mentions in newsletters</div>
<br/>
<table class="mentions-list">
  <tr class="table-headers">
    <td>Time Sent</td>
    <td>Source</td>
    <td>Factor</td>
    <% if @has_direction then %>
        <td>Direction</td>
    <% end %>

    <td>View Message</td>

  </tr>
  <% for entry in @entries %>
      <tr>
        <td><%= format_datetime(entry.sent_at_with_zone) %>  </td>
        <td><%= entry.source.name %></td>
        <td><%= entry.source.weight %></td>
        <% if @has_direction then %>
            <td class="<%= entry.action_display_name %>"><%= entry.action_display_name %></td>
        <% end %>

        <% if entry.message_type == type_twitter then %>
            <td><%= link_to "view", entry.url %></td>
        <% elsif entry.message_type == type_email %>
            <td><%= link_to "view", :action=>"email", :id=>entry %></td>
        <% end %>
      </tr>
  <% end %></table>

<script language="javascript" type="text/javascript">
$(function () {

    var stack = null, bars = true, lines = false, steps = false;

    function plotWithOptions() {
        var barWidth = 0.1;
        var priceBarWidth =  4;
        $.plot($("#placeholder"), [

            {

                data: <%= @prices_json %>,
                bars: { show: true, barWidth:priceBarWidth }  ,
                yaxis: 2  ,
            },
            {
                data: <%= @factors_json %>,
                lines: { show: true,fill: true }  ,
            },
            {
                data: <%= @buys_json %>,
                bars: { show: true }  ,
            },
            {
                data: <%= @sells_json %>,
                bars: { show: true }  ,
            }
        ], {
            y2axis: {
                tickFormatter: function (v, axis) {
                    return "$" + v.toFixed(axis.tickDecimals)
                },
                min: <%= @min_price %>
            },
            xaxis: { mode: 'time' },
            colors: ["#3366FF","#FF6633","#90ee90","#ff0000"]
        }
        );


    }

    plotWithOptions();

});</script>