<!DOCTYPE html>
<!-- HTML Start -->
<html lang="en">
<!-- Page Head Start -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>The Stock Factor</title>
    <link rel="stylesheet" href="/css/build.css" media="screen" id="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery.js"></script> <!-- JQuery -->
    <script type="text/javascript" src="/js/scripts.js"></script> <!-- JQuery Script File -->
    <script type="text/javascript" src="/js/cufon-yui.js"></script> <!-- Cufon Font Data -->
    <script type="text/javascript" src="/js/cufon.fonts.js"></script> <!-- Cufon Font Identifiers -->
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag  %>
  <% if @javascript_includes
         @javascript_includes.each do |javascript_include|
  %>
    <%= javascript_include_tag javascript_include %>
      <% end
         end
      %>

</head>
<!-- Page Head End -->

<!-- Page Body Start -->
<body>

    <!-- Page Wrapper Start -->
    <div id="page-wrapper">

        <!-- Logo Start -->
    	<div id="logo">
            <div class="default-logo"><a href="/" class="default-logo">The Stock Factor</a></div>
        </div>
        <!-- Logo End -->

    	<!-- Navigation Start -->
        <div id="nav-wrapper">
            <ul id="nav">
              <%= render :partial => 'entries/option_bar' %>
            </ul>
        </div>
        <!-- Navigation End -->

        <div class="horizontal-rule"></div>

            <%= render :partial => "base/flash",:object => flash %>
      <%= yield %>


        <div class="horizontal-rule"></div>

        <!-- Footer Start -->
        <div id="footer-wrapper">
            <ul>
            	<%= render :partial => 'entries/option_bar' %>
            </ul>
            <div id="footer-copyright">Copyright 2011. All Rights Reserved</div>
        </div>
        <!-- Footer End -->
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">jQuery(document).ready(function($) { $("#twitter").tweet({username: "thestockfactor",count:8}); });</script>
</body>
</html>